{% extends 'base.html.twig' %}

{% block title %}New Versioning{% endblock %}

{% block body %}
    <h1>Create new Versioning</h1>

    {{ include('admin_versioning/_form.html.twig') }}

    <a href="{{ path('admin_versioning_index') }}">back to list</a>
{% endblock %}
